.installed.cfg
.batou.buildout.success
.mr.developer.cfg
*.svn/
bin/
develop-eggs/
downloads/
eggs/
include/
lib/
parts/
src/
var/
secret.cfg
buildout.cfg
tmp_translations/
.*.swp
*.pyc
*.sublime-workspace
local/
