[buildout]
download-cache = ${buildout:directory}/downloads
parts =
    instance
    xdv
    omelette
    ipzope
    compile-theme

# We keep the dexterity version to have sane pinning for z3c.form
# The order is important. If you need to pin a package to a specific
# old version, but you still got the wrong package, you did not delete
# the entry in picked_versions.cfg
extends =
    http://dist.plone.org/release/4.0b4/versions.cfg
    http://good-py.appspot.com/release/collective.xdv/1.0rc5
    secret.cfg
    versions.cfg
    picked_versions.cfg

allow-picked-versions = false

versions = versions
zeo_address = 2000

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/packages/
    http://dist.plone.org/release/4.0b4/
    http://dist.plone.org/thirdparty
    http://products.syslab.com/products/simple

eggs =
    PIL

extensions += mr.developer
sources = sources
auto-checkout =
    recensio.theme
    recensio.policy
    recensio.contenttypes
# There is currently no released egg that works with Plone4
    Products.ATVocabularyManager


[sources]
recensio.theme = svn https://svn.syslab.com/svn/syslabcom/recensio.theme/trunk
recensio.policy = svn https://svn.syslab.com/svn/syslabcom/recensio.policy/trunk
recensio.contenttypes = svn https://svn.syslab.com/svn/syslabcom/recensio.contenttypes/trunk
Products.ATVocabularyManager = svn https://svn.plone.org/svn/archetypes/Products.ATVocabularyManager/branches/plone4-thet

[versions]

[zeo]
recipe = plone.recipe.zeoserver
blob-storage = ${buildout:directory}/var/blobstorage
zeo-address = 8100

[instance-settings]
recipe = plone.recipe.zope2instance
debug-mode = on
shared-blob = on
user = admin:admin
verbose-security = on
zeo-address = ${zeo:zeo-address}
zeo-client = off
environment-vars =
    zope_i18n_compile_mo_files true

eggs =
    ${buildout:eggs}
    zope2
    Plone
    recensio.policy
    collective.autorestart

zcml =
    recensio.policy

[instance]
<= instance-settings
http-address = 8010
eggs = 
    ${instance-settings:eggs}
    plone.reload
zcml =
    ${instance-settings:zcml}
    plone.reload

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml
libxml2-url = http://xmlsoft.org/sources/libxml2-2.7.6.tar.gz
libxslt-url = http://xmlsoft.org/sources/libxslt-1.1.26.tar.gz
force = false

[xdv]
recipe = zc.recipe.egg
eggs =
    lxml
    PasteScript
    dv.xdvserver
scripts =
    paster
    xdvcompiler

[PIL]
recipe = zc.recipe.egg

[theme]
root = ${buildout:directory}/parts/omelette/recensio/theme/skins/recensio_theme
theme = ${theme:root}/theme.html
rules = ${theme:root}/rules/default.xml
output-xslt = ${theme:root}/theme.xsl

[compile-theme]
recipe = plone.recipe.command
command =
    ${buildout:directory}/bin/xdvcompiler -t ${theme:theme} -r ${theme:rules}  ${theme:output-xslt}
update-command = ${compile-theme:command}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[ipzope]
# a IPython Shell for interactive use with zope running.
# you also need to put
# https://svn.plone.org/svn/collective/dotipython/trunk/ipy_profile_zope.py
# to your $HOME/.ipython directory for the following to work.
recipe = zc.recipe.egg
eggs =
        readline
        ipython
        ${instance:eggs}
initialization =
        import sys, os
        os.environ["SOFTWARE_HOME"] = " "
        os.environ["INSTANCE_HOME"] = "${instance:location}"
        sys.argv[1:1] = "-p zope".split()
scripts = ipython=ipzope

[supervisor]
recipe = collective.recipe.supervisor
port = 9002
serverurl = http://localhost:9002
programs = 
    10 zeo      ${zeo:location}/bin/runzeo  true
    20 instance ${buildout:directory}/bin/instance [console] true
