[buildout]
extensions += mr.developer

auto-checkout =
# fix https://projects.syslab.com/issues/6926
# Will be fixed in 1.5.9
#    plone.app.blob
#    plone.app.discussion
   recensio.translations
   experimental.gracefulblobmissing
   recensio.altertum
   recensio.contenttypes
   recensio.policy
   recensio.theme
   recensio.imports
   slc.zopescript
   collective.solr

[sources]
# Better display, why stuff gets added
collective.solr = git git://github.com/syslabcom/collective.solr.git pushurl=git@github.com:syslabcom/collective.solr.git branch=cross-portal
recensio.altertum = git git://github.com/syslabcom/recensio.altertum.git pushurl=git@github.com:syslabcom/recensio.altertum.git
recensio.contenttypes = git git://github.com/syslabcom/recensio.contenttypes.git pushurl=git@github.com:syslabcom/recensio.contenttypes.git branch=develop
recensio.imports = git git://github.com/syslabcom/recensio.imports.git pushurl=git@github.com:syslabcom/recensio.imports.git branch=develop
recensio.policy = git git://github.com/syslabcom/recensio.policy.git pushurl=git@github.com:syslabcom/recensio.policy.git branch=develop
recensio.theme = git git://github.com/syslabcom/recensio.theme.git pushurl=git@github.com:syslabcom/recensio.theme.git branch=develop
recensio.translations = git git://github.com/syslabcom/recensio.translations.git pushurl=git@github.com:syslabcom/recensio.translations.git branch=master
slc.ipythonprofiles = git https://github.com/syslabcom/slc.ipythonprofiles.git egg=false
slc.zopescript = git https://github.com/syslabcom/slc.zopescript.git pushurl=git@github.com:syslabcom/slc.zopescript.git
plone.app.blob = git https://github.com/starzel/plone.app.blob.git pushurl=git@github.com:starzel/plone.app.blob.git
experimental.gracefulblobmissing = git https://github.com/collective/experimental.gracefulblobmissing
# Bugfix relevant for tests https://bugs.launchpad.net/zope-cmf/+bug/1042836
Products.CMFDefault = svn svn://svn.zope.org/repos/main/Products.CMFDefault/branches/2.2
