[buildout]
extends =
    base.cfg

find-links +=
    http://infrae.com/download/simple/

extensions += mr.developer

parts +=
    translation
    podiff
    checkversions

eggs +=
    Products.enablesettrace
    ipython
    ipdb
#    pdbpp
# pdbpp threw: AttributeError: UnixConsole instance has no attribute 'old_sigwinch'?

auto-checkout =
# fix https://projects.syslab.com/issues/6926
# Will be fixed in 1.5.9
#    plone.app.blob
#    plone.app.discussion
   recensio.contenttypes
   recensio.policy
   recensio.theme

[translation]
recipe = infrae.i18nextract
packages =
    recensio.contenttypes
    recensio.policy
    recensio.theme
#output = ${buildout:directory}/src/recensio.translations/recensio/translations/locales/templates/LC_MESSAGES/
output-package = recensio.translations
domain = recensio
# This adds two scripts to manage translation strings, we only need to
# use translation-extract. See https://syslab.com/proj/documents/53
# for details on how to update translations
#
#  1. translation-extract
# This extracts msgids from the packages configured above and adds them to
# recensio.pot in the output directory. Beware, new msgids should not
# be added to the pot file manually, as they will be clobbered
#
#  2. translation-manage -m
#
# BEWARE: infrae.i18nextract skips the locales/en folder (hardcoded)
# You need to run the step below manually for en
#
# User of Mac OS might run into this problem:
# http://subcommanderblog.wordpress.com/2009/05/16/msgmerge-on-macosx-and-no-such-file-or-directory/
# They need to run msgmerge manually and pass the additional parameter --backup=off
# Example
# ~/recensio.translations/recensio/translations/locales$ msgmerge -U --backup=off de/LC_MESSAGES/recensio.po recensio.pot

[podiff]
recipe = zc.recipe.egg:scripts
eggs = recensio.translations[podiff]
arguments = '${sources:recensio.translations}'

[checkversions]
recipe = zc.recipe.egg:scripts
eggs = z3c.checkversions [buildout]

[zeo]
recipe = plone.recipe.zeoserver
blob-storage = ${buildout:directory}/var/blobstorage
zeo-address = 8100
pack-days = 10

[instance]
<= instance-settings
shared-blob = on
debug-mode = on
verbose-security = on
zcml-additional =
    <include package="plone.app.async" file="single_db_instance.zcml" />
zope-conf-additional =
    <product-config zc.z3monitor>
        port 8098
    </product-config>
environment-vars =
    zope_i18n_compile_mo_files true
    RUN_SHELL_COMMANDS true
zserver-threads = 1

[worker]
shared-blob = on
zcml-additional =
    <include package="plone.app.async" file="single_db_worker.zcml" />
zope-conf-additional =

[supervisor]
recipe = collective.recipe.supervisor
port = 9002
serverurl = http://localhost:9002
programs =
    10 zeo      ${buildout:directory}/bin/runzeo [-C ${buildout:directory}/parts/zeo/etc/zeo.conf] true
    10 solr     (stdout_logfile=${buildout:directory}/var/log/solr.log stderr_logfile=${buildout:directory}/var/log/solr.log) /usr/bin/java [-Xms256m -Xmx256m -jar start.jar] ${buildout:directory}/parts/solr-instance/ true
    30 worker (stdout_logfile=${buildout:directory}/var/log/worker.log stderr_logfile=${buildout:directory}/var/log/worker.log) ${buildout:directory}/bin/worker [console] true
