[buildout]
extends=
    http://dist.plone.org/release/4.0.3/versions.cfg
    http://good-py.appspot.com/release/collective.xdv/1.0rc9
    picked_versions.cfg

allow-picked-versions = false

find-links =
         http://dist.plone.org/thirdparty
         http://products.syslab.com/products/simple
         http://download.zope.org/distribution/
         http://www.crummy.com/software/BeautifulSoup/download/3.x/

[versions]
# The newest version of BeautifulSoup is worse, because of different parser
BeautifulSoup = 3.0.8.1
# We want to stay with 3.9.x but plone wants to stay with something below
# 3.9.6, because of CMFEditions. We want 3.9.7 because there can happen
# exceptions with earlier versions. We dont need CMFEditions, so...
ZODB3 = 3.9.7
# Pinned to a revision of a bugfix branch
plone.app.discussion =
# There is a change in Products.ATContentTypes 2.0.7
# That uncovers a bug in collective.solr 1.0
# It results in too many results for collections, especially
# new_reviews that suddenly should find every document
Products.ATContentTypes = 2.0.6

Products.PloneHotfix20110720 = 1.0
Products.PloneHotfix20110928 = 1.1
