[versions]
collective.recipe.supervisor = 1.0.0
haufe.requestmonitoring = 0.6.0
mr.developer = 2.0.4
plone.recipe.zope2instance = 8.0.1
sentry-sdk = 2.39.0
slc.zopescript = 2.0.0
superlance = 2.0.0
z3c.recipe.mkdir = 2.0
zc.recipe.egg = 3.0.0
zope.app.publication = 5.0
zope.session = 4.5

# Required by:
# plone.recipe.zeoserver==3.1.0
# plone.recipe.zope2instance==8.0.1
ZEO = 6.0.0

# Required by:
# haufe.requestmonitoring==0.6.0
Zope2 = 4.0

# Required by:
# plone.recipe.zope2instance==8.0.1
python-dotenv = 1.1.1

# Required by:
# superlance==2.0.0
supervisor = 4.3.0

# Required by:
# ZEO==6.0.0
# plone.recipe.zeoserver==3.1.0
# zope.app.appsetup==4.2.0
zdaemon = 5.2.1

# Required by:
# haufe.requestmonitoring==0.6.0
zope.app.appsetup = 4.2.0

# Required by:
# zope.app.publication==5.0
zope.authentication = 5.1

# Required by:
# zope.app.appsetup==4.2.0
zope.error = 5.1

# Required by:
# zope.session==4.5
zope.minmax = 2.3
