#!/usr/bin/env bash

pushd ${solr-instance:location}
/usr/bin/env java -Xms512m -Xmx2048m -jar start.jar --module=http jetty.host=${settings:solr-test-host} jetty.port=${settings:solr-test-port} >/dev/null 2>&1 &
SOLR_PID=$!
popd
${buildout:directory}/bin/test_dontcall $*
status=$?
kill $SOLR_PID
exit $status
