[buildout]
download-cache = ${buildout:directory}/downloads
parts =
    test
    test_dontcall
    testxml
    testxml_dontcall
    compile-po
    zeo
    supervisor
    scripts
    instance
    xdv
    solr-download
    solr-instance
    solr-test-instance
    omelette
    ipzope
    compile-theme
    unsafe-transforms

# We keep the dexterity version to have sane pinning for z3c.form
# The order is important. If you need to pin a package to a specific
# old version, but you still got the wrong package, you did not delete
# the entry in picked_versions.cfg
extends =
    http://dist.plone.org/release/4.0-latest/versions.cfg
    http://good-py.appspot.com/release/collective.xdv/1.0rc5
    ../secret.cfg
    versions.cfg
    picked_versions.cfg

allow-picked-versions = false

versions = versions
zeo_address = 2000

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/packages/
    http://dist.plone.org/release/4.0
    http://dist.plone.org/thirdparty
    http://products.syslab.com/products/simple
    http://download.zope.org/distribution/

eggs =
    PILwoTk
    supervisor

extensions += mr.developer
sources = sources
auto-checkout =
# Fixed a bug with the latest Five version which makes all methods
# private unless they are specifically listed in allowed_attributes
    collective.captcha
#   1.0c2 of collective.solr can't handle datetime fields yet
    collective.solr
# The templates don't have ids for the body content set. Thus they were
# hidden by deliverance. A release newer than 12.7.2010 might fix this
    plone.app.iterate
# Blob is missing an interface that makes it exportable with Products.GenericSetup
    plone.app.blob
    recensio.theme
    recensio.policy
    recensio.imports
    recensio.contenttypes
    recensio.translations
# Doh, latest release does circular dependency hell
    Products.ATContentTypes
# There is currently no released egg that works with Plone4
    Products.ATVocabularyManager
# DiffTool has a bug that was fixed at the and of June 2010, but no release
# yet. The error can result in site errors when watching diffs with 
# some attributes previously unset
    Products.CMFDiffTool
# xdv wants a pretty new plone.z3cform, but the latest release of pad is incompatible with it
    plone.app.discussion
    plone.testing
    plone.app.testing
    Products.LinguaPlone

[sources]
# Better display, why stuff gets added
Products.GenericSetup = svn svn+ssh://do3cc@svn.zope.org/repos/main/Products.GenericSetup/trunk
Products.ATContentTypes = svn https://svn.plone.org/svn/collective/Products.ATContentTypes/trunk
Products.ATVocabularyManager = svn https://svn.plone.org/svn/archetypes/Products.ATVocabularyManager/trunk
Products.CMFDiffTool = svn https://svn.plone.org/svn/collective/Products.CMFDiffTool/trunk
Products.LinguaPlone = svn https://svn.plone.org/svn/plone/Products.LinguaPlone/trunk
collective.captcha = svn https://svn.plone.org/svn/collective/collective.captcha/trunk
collective.recipe.solrinstance = svn https://svn.plone.org/svn/collective/buildout/collective.recipe.solrinstance/trunk
collective.solr = svn https://svn.plone.org/svn/collective/collective.solr/trunk
plone.app.discussion = svn https://svn.plone.org/svn/plone/plone.app.discussion/trunk
plone.app.iterate = svn https://svn.plone.org/svn/plone/plone.app.iterate/trunk
plone.app.testing = svn https://svn.plone.org/svn/plone/plone.app.testing/trunk
plone.app.blob = svn https://svn.plone.org/svn/plone/plone.app.blob/branches/do3cc_genericsetup
plone.testing = svn https://svn.plone.org/svn/plone/plone.testing/trunk
recensio.contenttypes = svn https://svn.syslab.com/svn/syslabcom/recensio.contenttypes/trunk
recensio.imports = svn https://svn.syslab.com/svn/syslabcom/recensio.imports/trunk
recensio.policy = svn https://svn.syslab.com/svn/syslabcom/recensio.policy/trunk
recensio.theme = svn https://svn.syslab.com/svn/syslabcom/recensio.theme/trunk
recensio.translations = svn https://svn.syslab.com/svn/syslabcom/recensio.translations/trunk

[versions]

[zeo]
recipe = plone.recipe.zeoserver
blob-storage = ${buildout:directory}/var/blobstorage
zeo-address = 8100

[instance-settings]
recipe = plone.recipe.zope2instance
debug-mode = on
shared-blob = on
verbose-security = on
zeo-address = ${zeo:zeo-address}
zeo-client = on
environment-vars =
    zope_i18n_compile_mo_files true

eggs =
    ${buildout:eggs}
    zope2
    Plone
    recensio.policy

# Removed collective.autorestart, because its dependency pyinotify is
# not available for macosx-10.5-i386.
# If you want to use collective.autorestart, you need to extend this
# cfg with your own one.

zcml =
    recensio.policy

[instance]
<= instance-settings
http-address = 8010
eggs = 
    ${instance-settings:eggs}
    plone.reload
zcml =
    ${instance-settings:zcml}
    plone.reload

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml
libxml2-url = http://xmlsoft.org/sources/libxml2-2.7.6.tar.gz
libxslt-url = http://xmlsoft.org/sources/libxslt-1.1.26.tar.gz
force = false

[xdv]
recipe = zc.recipe.egg
eggs =
    lxml
    PasteScript
    dv.xdvserver
scripts =
    paster
    xdvcompiler


[theme]
root = ${buildout:directory}/parts/omelette/recensio/theme/skins/recensio_theme
theme = ${theme:root}/theme.html
rules = ${theme:root}/rules/default.xml
output-xslt = ${theme:root}/theme.xsl

[compile-theme]
recipe = plone.recipe.command
command =
    ${buildout:directory}/bin/xdvcompiler -t ${theme:theme} -r ${theme:rules}  ${theme:output-xslt}
update-command = ${compile-theme:command}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[ipzope]
# a IPython Shell for interactive use with zope running.
# you also need to put
# https://svn.plone.org/svn/collective/dotipython/trunk/ipy_profile_zope.py
# to your $HOME/.ipython directory for the following to work.
recipe = zc.recipe.egg
eggs =
        readline
        ipython
        ${instance:eggs}
initialization =
        import sys, os
        os.environ["SOFTWARE_HOME"] = " "
        os.environ["INSTANCE_HOME"] = "${instance:location}"
        sys.argv[1:1] = "-p zope".split()
scripts = ipython=ipzope

[supervisor]
recipe = collective.recipe.supervisor
port = 9002
serverurl = http://localhost:9002
programs = 
    10 zeo      ${zeo:location}/bin/runzeo  true
    10 solr     (stdout_logfile=${buildout:directory}/var/log/solr.log stderr_logfile=${buildout:directory}/var/log/solr.log) /usr/bin/java [-Xms1024m -Xmx1024m -jar start.jar] ${buildout:directory}/parts/solr-instance/ true
    20 instance ${buildout:directory}/bin/instance [console] true

 
[unsafe-transforms]
recipe = plone.recipe.command
command =
    touch ${buildout:directory}/parts/omelette/Products/PortalTransforms/unsafe_transforms/__init__.py
update-command = ${unsafe-transforms:command}
stop-on-error = true
dependency = ${omelette:recipe}

[solr-download]
recipe = gocept.download
strip-top-level-dir = true
url = http://www.osnt.org/apache/lucene/solr/1.4.0/apache-solr-1.4.0.tgz
md5sum = 1cc3783316aa1f95ba5e250a4c1d0451

[solr-test-instance]
<= solr-instance
port = 8984
script = solr-test-instance

[solr-instance]
recipe = collective.recipe.solrinstance
solr-location = ${solr-download:location}
logdir = ${buildout:directory}/var/log
host = localhost
port = 8983
basepath = /solr
max-num-results = 1000
default-search-field = SearchableText
default-operator = and
unique-key = UID
cacheSize = 100000
index =
    name:CreationDate     type:string indexed:false stored:true
    name:Creator          type:string indexed:true stored:true
    name:Date             type:date indexed:true stored:true
    name:Description      type:text indexed:true stored:true
    name:EffectiveDate    type:string indexed:false stored:true
    name:ExpirationDate   type:string indexed:false stored:true
    name:Language         type:string indexed:true stored:true
    name:ModificationDate type:string indexed:false stored:true
    name:SearchableText   type:text indexed:true stored:false
    name:Subject          type:string indexed:true stored:true multivalued:true
    name:Title            type:text indexed:true stored:true
    name:Type             type:string indexed:true stored:true
    name:UID              type:string indexed:true stored:true required:true
    name:allowedRolesAndUsers type:string indexed:true stored:false multivalued:true
    name:author_name      type:string indexed:false stored:true
    name:authors          type:string indexed:true stored:false multivalued:true
    name:authorsFulltext  type:text indexed:true stored:false
    name:cmf_uid          type:string indexed:true stored:true
    name:commentators     type:string indexed:true stored:true multivalued:true
    name:created          type:date indexed:true stored:true
    name:ddcPlace         type:string indexed:true stored:false multivalued:true
    name:ddcSubject       type:string indexed:true stored:false
    name:ddcTime          type:string indexed:true stored:false multivalued:true
    name:effective        type:date indexed:true stored:true
    name:effectiveRange   type:date indexed:true stored:false multivalued:true
    name:end              type:date indexed:true stored:true
    name:exclude_from_nav type:boolean indexed:false stored:true
    name:expires          type:date indexed:true stored:true
    name:getAuthors       type:string indexed:false stored:true multivalued:true
    name:getIcon          type:string indexed:false stored:true
    name:getId            type:string indexed:true stored:true
    name:getObjPositionInParent type:string indexed:true stored:false
    name:getObjSize       type:string indexed:false stored:true
    name:getOfficialYearOfPublication type:string indexed:false stored:true
    name:getRawRelatedItems type:string indexed:true stored:false multivalued:true
    name:getRemoteUrl     type:string indexed:false stored:true
    name:getReviewAuthor  type:string indexed:false stored:true
    name:getReviewAuthorFirstname type:string indexed:false stored:true
    name:getReviewAuthorLastname type:string indexed:false stored:true
    name:getYearOfPublication type:string indexed:false stored:true
    name:herausgeberSammelband type:string indexed:false stored:false copyfield:authors
    name:id               type:string indexed:true stored:true
    name:in_reply_to      type:string indexed:true stored:false
    name:in_response_to   type:string indexed:false stored:true
    name:is_default_page  type:boolean indexed:true stored:false
    name:is_folderish     type:boolean indexed:true stored:true
    name:isbn             type:string indexed:true stored:false
    name:languageReviewedText type:string indexed:true stored:false multivalued:true
    name:languageReview   type:string indexed:true stored:false multivalued:true
    name:last_comment_date type:date indexed:true stored:true
    name:listCreators     type:string indexed:false stored:true
    name:listAuthors      type:string indexed:false stored:true multivalued:true
    name:location         type:string indexed:false stored:true
    name:meta_type        type:string indexed:true stored:true
    name:modified         type:date indexed:true stored:true
    name:object_provides  type:string indexed:true stored:false multivalued:true
    name:officialYearOfPublication type:string indexed:false stored:false copyfield:year
    name:parentPaths      type:string indexed:true stored:false multivalued:true
    name:physicalDepth    type:integer indexed:true stored:false
    name:physicalPath     type:string indexed:false stored:true
    name:place            type:string indexed:true stored:false multivalued:true
    name:placeOfPublication type:string indexed:false stored:false copyfield:place
    name:portal_type      type:string indexed:true stored:true
    name:publisher        type:string indexed:true stored:false
    name:reviewAuthor     type:string indexed:false stored:false copyfield:authors
    name:review_state     type:string indexed:true stored:true
    name:series           type:string indexed:true stored:false
    name:sortable_title   type:string indexed:true stored:false
    name:start            type:date indexed:true stored:true
    name:titleOrShortname type:text indexed:true stored:false
    name:total_comments   type:string indexed:true stored:true
    name:year             type:string indexed:true stored:false multivalued:true
    name:yearOfPublication type:string indexed:false stored:false copyfield:year

[scripts]
recipe = zc.recipe.egg:scripts
eggs = recensio.imports
    recensio.policy
    Fabric

[test_dontcall]
recipe = zc.recipe.testrunner
eggs =
    recensio.policy [test]
    recensio.contenttypes
    recensio.imports
defaults = ['--auto-color', '--auto-progress']

[testxml_dontcall]
<=test_dontcall
recipe = collective.xmltestreport
defaults = ['--auto-color', '--auto-progress']

[test]
recipe = collective.recipe.template
input = ${buildout:directory}/alltests.tmpl
output = ${buildout:directory}/bin/test

[testxml]
recipe = collective.recipe.template
input = ${buildout:directory}/alltestsxml.tmpl
output = ${buildout:directory}/bin/testxml

[compile-po]
recipe = plone.recipe.precompiler
eggs = recensio.translations
compile-mo-files = true
