# This is for the pinning of specific required versions
# Everybody who adds a version pinning here, MUST write a comment
# why this version is necessary.
[versions]
# The newest version of BeautifulSoup is worse, because of different parser
BeautifulSoup = 3.0.8.1
# We want to stay with 3.9.x but plone wants to stay with something below
# 3.9.6, because of CMFEditions. We want 3.9.7 because there can happen
# exceptions with earlier versions. We dont need CMFEditions, so...
ZODB3 = 3.9.7
plone.app.discussion = 1.0b10.slc-r40659